<template>
  <section>
    <avatar></avatar>
    <h3>{{doctor.name}}</h3>
    <p>
      {{doctor.description}}
    </p>
    <div class="comment-info">
      <span>{{doctor.comments ? doctor.comments.length : ''}} comments</span>
      <span>{{doctor.likes}} likes</span>
    </div>
    <hr>

    <div class="comments-wrapper" v-if="doctor.comments">
      <div class="comment" v-for="comment in doctor.comments">
        <div class="flex-wrapper">
          <avatar></avatar>
          <span>{{comment.name}}</span>
        </div>
        <p>{{comment.text}}</p>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Avatar from "../../../components/general/avatar";
export default {
  name: "index",
  components: {Avatar},
  asyncData (context) {
    if(context.params.id) {
      // should get data from server according to id, but i dont have server
      if(!(context.store.getters["profile/doctor"]).name) {
        context.redirect('/doctors')
      }
      // return context.store.dispatch('profile/setSelectedDoctor', context.params.id)
    }
  },
  computed: {
    ...mapGetters({
      doctor: 'profile/doctor'
    }),
  },
}
</script>

<style scoped>
  /deep/ .avatar {
    font-size: 24px;
    margin: 10px 0;
  }
  .comment-info {
    margin: 10px 0 0;
  }
  .comment-info span {
    color: #6495ED;
    margin-left: 10px;
  }
  .comments-wrapper >>> .avatar {
    font-size: 14px;
    margin-right: 5px;
  }
  .comment {
    border-bottom: 1px dashed #eee;
  }
  .comment .flex-wrapper {
    align-items: center;
  }
  .comment p {
    color: var(--text-color-secondary3);
  }
</style>
