<template>
  <section>
    <h3>Add new doctor</h3>

    <custom-input
      :value="name"
      :name="'name'"
      is-necessary
      :err="(!enReg.test(name) && name) || (!name && submitClicked)"
      :show-err="(!enReg.test(name) && name) || (!name && submitClicked)"
      :err-text="'English character only'"
      :label="'Doctor Name'"
      @updateInput="updateInput"
    >
    </custom-input>
    <custom-input
      :value="email"
      :name="'email'"
      is-necessary
      :err="(!reg.test(email) && email) || (!email && submitClicked)"
      :show-err="(!reg.test(email) && email) || (!email && submitClicked)"
      :err-text="'Invalid Email'"
      :label="'Email'"
      @updateInput="updateInput"
    >
    </custom-input>
    <custom-textarea
      :value="description"
      :name="'description'"
      :label="'Description'"
      @updateInput="updateInput"
    >
    </custom-textarea>

    <custom-btn
      :title="'Submit'"
      @click.native="submit"
    >
    </custom-btn>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CustomInput from "../../../components/general/customInput";
import CustomTextarea from "../../../components/general/customTextarea";
import CustomBtn from "../../../components/general/customBtn";
export default {
  name: "index",
  components: {CustomBtn, CustomTextarea, CustomInput},
  data() {
    return {
      name: '',
      email: '',
      description: '',
      reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,
      enReg: /^[A-Za-z0-9]*$/,
      submitClicked: false,
    }
  },
  methods: {
    ...mapActions({
      addNewDoctor: 'profile/addNewDoctor'
    }),
    updateInput(payload) {
      this.$data[payload.name] = payload.value
    },
    submit() {
      this.submitClicked = true
      if(this.name && this.enReg.test(this.name) && this.reg.test(this.email)) {
        const doctor = {
          name: this.name,
          email: this.email,
          description: this.description,
          comments: [],
          liked: false,
          likes: 0
        }
        this.addNewDoctor(doctor)
      }
    }
  }
}
</script>

<style scoped>
  h3{
    margin-bottom: 20px;
  }
  /deep/ label {
    margin: 20px 0;
  }
  /deep/ label {
    margin-bottom: 10px;
  }
</style>
