<template>
  <section>
    Please select a profile.
  </section>
</template>

<script>

export default {
  name: "index",
  components: {

  },

}
</script>

<style scoped>
section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-secondary2);
}
</style>
