<template>
  <article>
      <div class="flex-wrapper">
        <!-------------  profile info --------------->
        <div class="flex-wrapper">
          <avatar></avatar>
          <div class="info-content">
            <h5>{{profile.name}}</h5>
            <span>{{profile.specialty}}</span>
          </div>
        </div>
        <!-------------  like box --------------->
        <div>
          <span>{{profile.likes}}</span>
          <img v-if="!profile.liked" class="like-img" src="~assets/images/like.svg" @click="$emit('toggleLikeDislike', profile.id)">
          <img v-else class="like-img" src="~assets/images/like2.svg" @click="$emit('toggleLikeDislike', profile.id)">
        </div>
      </div>
      <!-------------  comment box --------------->
      <div class="comment-box">
        <span class="comment-num">{{profile.comments ? profile.comments.length : ''}} comments</span>
        <div class="comment-add flex-wrapper">
          <custom-input
            :value="comment"
            :name="'comment'"
            :placeholder="'Enter your comment'"
            @updateInput="updateInput"
          ></custom-input>
          <custom-btn
            :title="'Submit'"
            out-fill
            @click.native="submitClicked"
          ></custom-btn>
        </div>
      </div>
  </article>
</template>

<script>
import avatar from '@/components/general/avatar'
import CustomInput from "./general/customInput";
import CustomBtn from "./general/customBtn";
export default {
  name: "profileCard",
  components: {
    CustomBtn,
    CustomInput,
    avatar
  },
  props: {
    profile: {}
  },
  data() {
    return {
      comment: ''
    }
  },
  methods: {
    updateInput(payload) {
      this.comment = payload.value
    },
    submitClicked(){
      if(this.comment) {
        this.$emit('submitComment',{text: this.comment, id: this.profile.id})

      }
    }
  }
}
</script>

<style scoped>
  article {
    padding: 15px 20px;
    border-bottom: 1px dashed #eee;
  }
  .flex-wrapper {
    display: flex;
    justify-content: space-between;
  }
  /deep/ .avatar{
     font-size: 18px;
  }
  .info-content {
    margin-left: 5px;
  }
  .info-content span{
    font-size: 13px;
    color: var(--text-color-secondary);
  }
  .like-img {
    width: 20px;
    height: 20px;
  }
  .comment-box {
    margin-top: 15px;
    align-items: center;
  }
  .comment-num {
    color: #6495ED;
  }
  .comment-add >>> label {
    width: calc(100% - 80px);
  }
</style>
