
* {
  /*scroll-behavior: smooth;*/
  /*-webkit-overflow-scrolling: touch;*/
  /*touch-action: manipulation;*/
  /*line-height: 2;*/
  padding: 0;
  margin: 0;
  /*border: none;*/
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  font-size: 14px;
  text-align: initial;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span {
  /*line-height: 2;*/
  padding: 0;
  margin: 0;
  word-break: break-word;
}

label {
  margin: 0;
}

img {
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none !important;
  font-size: 5px;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  /*text-align: right;*/
  /*direction: rtl;*/
  -webkit-appearance: none;
}

textarea {
  resize: none !important;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}


.link-color {
  color: #007bff;
  cursor: pointer;
}

.link-color:hover {
  color: #0056b3;
}
