/*   Font     ///////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');*/

@font-face {
  font-family: 'iran-yekan';
  font-style: normal;
  font-weight: 400;
  src: url(~assets/fonts/iranyekanweblightfanum.woff) format('woff');
}

@font-face {
  font-family: 'iran-yekan';
  font-style: normal;
  font-weight: 500;
  src: url(~assets/fonts/iranyekanwebregularfanum.woff) format('woff');
}

@font-face {
  font-family: 'iran-yekan';
  font-style: normal;
  font-weight: 700;
  src: url(~assets/fonts/iranyekanwebboldfanum.woff) format('woff');
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
  font-family: 'Roboto', 'iran-yekan', sans-serif;
  background-color: var(--bg-color-main);
  color: var(--text-color-primary);
  overscroll-behavior: none;
}

.title {
  font-family: unset !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: 700 !important;
}

.medium {
  font-weight: 500 !important;
}

.regular {
  font-weight: 400 !important;
}

.light {
  font-weight: 300 !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrapper {
  display: flex;
}

/*----------------- scroll-bar -------------------*/

.scroll-bar::-webkit-scrollbar {
  width: 4px;
  margin-left: 5px;
}

/* Track */
.scroll-bar::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--bg-color-main);
}

/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
  background: var(--bg-color-secondary2);
  border-radius: 5px;
}

/* Handle on hover */
.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color-secondary2);
  cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.width-limit {
  max-width: calc(100vw - 680px) !important;
}

.ovy-h {
  overflow-y: hidden;
}

@media (min-width: 1500px) {
  .width-limit {
    max-width: 820px !important;
  }
}

@media (max-width: 1199px) {

  .width-limit {
    max-width: calc(100vw - 461px) !important;
  }
}

@media (max-width: 991px) {

  .width-limit {
    max-width: calc(100vw - 141px) !important;
  }
}

@media (max-width: 767px) {

  .width-limit {
    max-width: 100% !important;
  }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

textarea, input, .custom-select {
  background-color: var(--bg-color-primary) !important;
  color: var(--text-color-primary) !important;
}


textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  -ms-overflow-style: none;
}

.modal-content {
  background-color: var(--bg-color-primary);
}

.modal-header,
.modal-footer {
  border-color: var(--bg-color-secondary2) !important;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem;
}

.dropdown-menu {
  background-color: var(--bg-color-primary) !important;
}

.dropdown-item {
  color: var(--text-color-secondary) !important;
}

.dropdown-item:hover {
  background-color: var(--bg-color-secondary) !important;
}

.custom-control-label::before {
  background-color: transparent !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff !important;
}

.custom-select {
  background-color: var(--bg-color-primary);
}

hr {
  border-color: var(--bg-color-secondary2) !important;
}


.popover {
  font-family: 'iran-yekan', 'Roboto', sans-serif !important;
}

#popover-tour.popover .arrow {
  display: none !important;
}

.vs__search {
  z-index: 1  !important;
}

.vs__selected {
  z-index: 2  !important;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*--dark-color4: #8899A6;*/


:root {

  --bg-color-main: #F2F1F1;
  --bg-color-primary: #fff;
  --bg-color-secondary: #F8F8F8;
  --bg-color-secondary2: #D9D9D9;
  --bg-color-secondary3: #344755;


  --text-color-primary: #000;
  --text-color-secondary: #333;
  --text-color-secondary2: #555;
  --text-color-secondary3: #999;
}

.darkMode {

  --bg-color-main: #15202b;
  --bg-color-primary: #192734;
  --bg-color-secondary: #253341;
  --bg-color-secondary2: #344755;
  --bg-color-secondary3: #555;


  --bg-color: #8899A6;

  --text-color-primary: #fff;
  --text-color-secondary: #eee;
  --text-color-secondary2: #ddd;
}

