<template>
  <div class="main">
    <div class="dashboard-list">

      <div class="search-wrapper">
        <div class="search">
          <input class="search-input" type="search" placeholder="Search" v-model="text">
        </div>
        <div class="filter" @click="sortAscDesc">
          {{sortType}}
          <img v-if="sortType === 'up'" src="~assets/images/up-arrow.svg">
          <img v-else src="~assets/images/down-arrow.svg">
        </div>
        <custom-btn :title="'New'" @click.native="$router.push('/doctors/add')"></custom-btn>
      </div>

      <div class="scroll-wrapper">
        <div>
          <n-link :to="'/doctors/profile/' + content.id"
                  v-for="(content, index) in doctorList"
                  :key="index"
          >
            <profile-card
              :profile="content"
              @submitComment="submitComment"
              @toggleLikeDislike="toggleLikeDislike"
              @click.native="setSelectedDoctor(content)"></profile-card>
          </n-link>
        </div>

      </div>

    </div>

    <div class="profile-wrapper">
      <nuxt-child/>
    </div>

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import profileCard from '@/components/profileCard'
import CustomBtn from "../components/general/customBtn";
export default {
  name: "doctors",
  components: {
    CustomBtn,
    profileCard
  },
  data() {
    return {
      text: '',
      disable: false,
      isSearchMode: false
    }
  },
  computed: {
    ...mapGetters({
      doctors: 'profile/doctors',
      sortType: 'profile/sortType'
    }),
    doctorList() {
      if(this.isSearchMode) {
        return  this.doctors.filter(e => {
          const emp = e.name.toLowerCase();
          const str = this.text.toLowerCase();
          return emp.includes(str);
        });
      }
      else {
        return this.doctors
      }
    }
  },
  methods: {
    ...mapActions({
      setSelectedDoctor: 'profile/setSelectedDoctor',
      sortAscDesc: 'profile/sortAscDesc',
      submitComment: 'profile/submitComment',
      toggleLikeDislike: 'profile/toggleLikeDislike'
    }),
  },
  watch: {
    text(){
      this.isSearchMode = this.text ? true : false
    }
  }
}
</script>

<style scoped>
.main {
  width: 100%;
  display: flex;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.dashboard-list {
  width: 550px;
  /*height: calc(100vh - 65px);*/
  flex-shrink: 0;
  background-color: var(--bg-color-primary);
  /*margin-right: 20px;*/
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}


.search-wrapper {
  padding: 10px;
  border-bottom: 1px solid var(--bg-color-secondary2);
  border-right: 3px solid var(--bg-color-secondary2);
  display: flex;
  gap: 8px;
}

.search {
  height: 45px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px solid var(--bg-color-secondary2);
  border-radius: 4px;

}

.search-input {
  padding: 10px 15px 10px 45px;
  flex-grow: 1;
  border: none;
  background: var(--bg-color-primary) url(~assets/images/magnifier2.svg) 10px center no-repeat;
  background-size: 25px;
  border-radius: 10px 0 0 10px;
}

.sidebar-content /deep/ .avatar {
  font-size: 32px;
  margin: 0 auto;
  display: block;
}

/*//////////////////////*/


.scroll-wrapper {
  /*overflow-y: scroll;*/
  /*scroll-behavior: smooth;*/
  /*-webkit-overflow-scrolling: touch;*/
  height: 100%;
}

.filter {
  border: 1px solid var(--bg-color-secondary2);
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter img {
  width: 10px;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.profile-wrapper {
  width: 100%;
  height: 100vh;
  padding: 20px 25px;
  /*overflow-y: scroll;*/
  overflow: hidden;
  background-color: var(--bg-color-primary);
  border-left: 1px solid #eee;
}
</style>

