<template>
  <div class="welcome-content">
    <h1>
      <b>Hello,</b>
      Welcome to doctors project.
    </h1>
    <custom-btn
      :title="'Lets Go'"
      @click.native="$router.push('/doctors')"
    >
    </custom-btn>
  </div>
</template>

<script>
import customBtn from '@/components/general/customBtn'

export default {
  name: 'IndexPage',
  components: {
    customBtn
  }
}
</script>
<style>
.welcome-content {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
