<template>
  <label :class="{'necessary' : isNecessary}">
    <span>{{ label }}</span>
    <p class="description" v-if="description">{{description}}</p>
    <input
      dir="auto"
      :type="type"
      :placeholder="placeholder"
      :disabled="disabled"
      :value="value"
      :class="err  ? 'err' : ''"
      @input="$emit('updateInput', {value:$event.target.value, index: index , name: name})"
    >
    <p class="err-text" v-if="showErr">{{errText}}</p>
  </label>
</template>

<script>
export default {
  name: "customInput",
  props: {

    type: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    isNecessary: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    value: {},
    name: '',
    err: {
      type: Boolean,
      default: false
    },
    description:{
      type: String,
      default: ''
    },
    showErr:  {
      type: Boolean,
      default: false
    },
    errText: ''

  }
}
</script>

<style scoped>

input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--bg-color-secondary2);
  padding: 10px 15px;
}

.err{
  border: 1px solid rgba(243, 112, 96, 0.4);
}

.err-text {
  color: rgba(243, 112, 96, 0.4);
  font-size: 12px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label span {
  font-size: 13px;
  color: var(--text-color-secondary);
  margin-right: 10px;
  /*background-color: #fff;*/
  /*padding: 0 7px;*/
  /*margin-bottom: -10px;*/
  position: relative;
}

.description{
  font-size: 12px;
  color: var(--text-color-secondary3);
  padding: 0 10px;
}

label.necessary span::after {
  content: '*';
  color: var(--red);
  font-weight: 900;
  vertical-align: sub;
  margin-right: 3px;
  display: inline-block;
  height: 10px;
}

</style>

