<template>

  <button :disabled="disable" class="button" :class="{ 'out-fill' : outFill}">
    {{ title }}
  </button>

</template>

<script>
export default {
  name: "customBtn",
  props: {
    title: {
      type: String
    },
    disable: {
      type: Boolean,
      default: false
    },
    outFill: {
      type : Boolean,
      default: false
    }
  }
}
</script>

<style scoped>

.button {
  background-color: #6495ED;
  color: #fff;
  border-radius: 4px;
  flex-shrink: 0;
  padding: 5px 15px;
  border: none;
}

.button.out-fill {
  background-color: #fff;
  color:  #6495ED;
  border: 1px solid #6495ED;
}

</style>

